
  /*** map ***/
  body {
    margin: 0;
    padding: 0;
  }
  #map #list #bodyAdmin {
    margin: 2px;
    
  }
  #mainCanvas{
    box-shadow: 5px 10px 5px rgb(255, 255, 255,10) inset;
  }

  footer{
    display: block;
  }

  /*** header ***/
  header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 4em;
  }
  h1 {
    color: #366453;
    text-decoration-line: overline;
    margin: 0;
    padding-left: 10px;
    font-size: xxx-large;
  }

/** Menu **/
body {
  margin: 0;
  font: 400 16px/1.5 "Source Sans Pro", "Segoe UI", "Helvetica Neue", Roboto, Arial, sans-serif;
  min-height: 100vh;
}
.sr-only {
  width: 1px;
  height: 1px;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  font-size: 0;
  line-height: 0;
  text-decoration: none;
}

body.-menu-open .hero__image {
  opacity: 0;
  transform: scale(0.85);
}
.site-menu__button {
  border: 0;
  background: transparent;
  color: rgb(28, 108, 61);
  font-size: 3rem;
  cursor: pointer;
  outline: 0;
  justify-self: right;
}
body.-menu-open .site-menu__button {
  position: relative;
  z-index: 1000;
}
.site-menu__content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0,0,0,0.55);
  padding: 4rem 2rem 2rem;
  transition: 0.25s ease;
  z-index: -1;
  visibility: hidden;
  opacity: 0;
}
body.-menu-open .site-menu__content {
  opacity: 1;
  visibility: visible;
  z-index: 999;
}
.site-menu__item {
  text-decoration: none;
  color: #fff;
  font-weight: 200;
  font-size: 2rem;
  line-height: 2em;
  transition: 0.25s ease 0.25s;
  transform: translateX(45px);
  opacity: 0;
  display: block;
}
.site-menu__item:first-child {
  border-top: 1px solid #fff;
  margin-top: 1rem;
}
body.-menu-open .site-menu__item {
  transform: translateX(0);
  opacity: 1;
}


/** details **/
.wrapper {
  justify-content: center;
  align-items: center;
}
.details{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  margin: 3rem;
}
.next-steps-links{
  padding: 0;
  display: inline-block;
  margin: 0.15em;
  position: relative;
  transition: all 265ms ease-out;
  text-align: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: inline-block;
  background: none;
  color: #26bf8e;
  transition: all 265ms ease-out;
  border: none;
}

.next-steps-links:hover {
  background: linear-gradient(45deg, #26bf8e, #487fc8);
  font-size: scale(2.2);
  color: #fff;
  transition: all 265ms ease-in;
}


.task {
  margin: 1rem;
  text-align: left;
}
.linkToVk{
  color: #26bf8e;
}
.cellImg{
  position: absolute;
  /**top: calc(25% - 110px);**/
  background-size: cover;
  background-position: center;
}
.location {
  color:#26bf8e;
  padding-top: 5rem;
}
.body-details{
  justify-content: center;
  margin-top: 3rem;
  text-align: center;
  background-color: #222831;
  border-radius: 5px;
}


/** Loader **/
.hex-loader {
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: 170px;
  height: 170px;
  border: 2px solid #ebedf1;
  border-radius: 100%;
}

.hex-loader::before {
  content: "";
  position: absolute;
  width: 174px;
  height: 174px;
  border: 2px solid #8c97ac;
  border-radius: 100%;
  box-sizing: border-box;
  clip-path: inset(0px 135px 135px 0px);
  -webkit-clip-path: inset(0px 135px 135px 0px);
  top: -2px;
  left: -2px;
  animation: rotateSmall 2s linear infinite;
  z-index: 99;
}

.hex-loader::after {
  content: "";
  position: absolute;
  width: 174px;
  height: 174px;
  border: 2px solid #c5cbd5;
  border-radius: 100%;
  box-sizing: border-box;
  top: -2px;
  left: -2px;
  clip-path: inset(0px 30px 30px 0px);
  -webkit-clip-path: inset(0px 30px 30px 0px);
  animation: rotateLarge 1s linear infinite;
}

.hex-loader-blocks {
  position: relative;
  border-radius: 100%;
  padding: 5%;
  top: 30px;
  left: 35px;
}

.hex-loader-block {
  position: absolute;
  width: 40px;
  height: 23px;
  background-color: #79859e;
  transform: scale(1.02);
  transform-origin: center;
}

.hex-loader-block::before {
  content: "";
  position: absolute;
  top: -11.5px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 11.5px solid #79859e;
}

.hex-loader-block::after {
  content: "";
  position: absolute;
  top: 23px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 11.5px solid #79859e;
}

.hex-loader-block:nth-child(1) {
  animation: animateHex 3s infinite;
}
.hex-loader-block:nth-child(2) {
  left: 53px;
  animation: animateHex 3s 0.2s infinite;
}

.hex-loader-block:nth-child(3) {
  left: -13px;
  top: 46px;
  animation: animateHex 3s 1s infinite;
}

.hex-loader-block:nth-child(4) {
  left: 31px;
  top: 46px;
  animation: animateHex 3s 1.2s infinite;
}

.hex-loader-block:nth-child(5) {
  left: 75px;
  top: 46px;
  animation: animateHex 3s 0.4s infinite;
}

.hex-loader-block:nth-child(6) {
  top: 84px;
  animation: animateHex 3s 0.8s infinite;
}

.hex-loader-block:nth-child(7) {
  left: 53px;
  top: 84px;
  animation: animateHex 3s 0.6s infinite;
}

@keyframes rotateSmall {
  100% {
    transform: rotate(1turn);
  }
}

@keyframes rotateLarge {
  0% {
    clip-path: inset(0px 30px 30px 0px);
    -webkit-clip-path: inset(0px 30px 30px 0px);
  }
  50% {
    clip-path: inset(0px 150px 150px 0px);
    -webkit-clip-path: inset(0px 150px 150px 0px);
  }
  100% {
    transform: rotate(1turn);
    clip-path: inset(0px 30px 30px 0px);
    -webkit-clip-path: inset(0px 30px 30px 0px);
  }
}

@keyframes animateHex {
  0% {
    transform: scale(1.02);
  }
  20%,
  50% {
    transform: scale(0.6);
    opacity: 0;
  }
  65% {
    transform: scale(1.02);
    opacity: 1;
  }
}

/** Quests **/
.questsList{
  flex-basis: 30%;
  flex-grow: 1;
  flex-shrink: 1;
  max-width: 21rem;
  display: grid;
  width: 70rem;
  margin: 2rem auto 0;
  justify-content: space-around;
  align-items: flex-start;
  grid-gap: 3rem;
  grid-auto-columns: auto;
}
.quest{
  background-color: oldlace;
  margin: 2rem;
  padding: 10px;
}

/** Общие правила **/
.about{
  margin: 2rem;
}
.cover{
  align-content: center;
  box-shadow: 5px 5px 10px 10px rgb(255, 255, 255) inset;
  width: 100vw;
}

/** Артефакты **/
.artefacts-list{
  display: grid;
  box-sizing: inherit;
  grid-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  align-items: start;
  margin: 1rem;
}
.artefact{
  border: 1px;
  border-color: #222831;
  box-shadow: -1px 15px 30px -12px black;
  border-radius: 14px;
  width: 20rem;
}
.artefact-price{
  background: #deb890;
  font-weight: 700;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  padding: 20px 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 12px;
}
.artefact img{
  text-align: center;
  padding: 0px;
  border-top-left-radius: 14px ;
  border-top-right-radius: 14px;
  width: 20rem;
}
.artefact-name{
  font-size: 1.5rem;
  font-weight: 500;
  color: #0d0d0d;
  margin-bottom: 1.5rem;
  padding: 5px;
}
.artefact-description{
  padding: 5px;
  color:#222831;
}